body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 50px;
}

#ageInput {
  padding: 10px;
  font-size: 16px;
  width: 200px;
  margin-right: 10px;
  border-radius: 10px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#result {
  margin-top: 20px;
  font-size: 24px;
  color: #333;
}

button:hover {
  background-color: #218838;
}
