body {
  font-family: Arial, sans-serif;
  background-color: #333;
  margin: 20px;
  color: #fff;
}
header {
  text-align: center;
  margin-bottom: 20px;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
input,
select,
button {
  margin: 10px;
  padding: 10px;
  font-size: 16px;
  border-radius: 10px;
  border: none;
  width: 200px;
}
#result {
  text-align: center;
  margin-top: 20px;
  font-size: 24px;
}
