body {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: Arial, sans-serif;
}
button {
  font-size: 2rem;
  width: 60px;
  height: 60px;
  margin: 10px;
}
h1 {
  font-size: 4rem;
  margin: 20px 0;
}
