body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  color: white;
}

header {
  background-color: grey;
  padding: 30px;
  color: black;
  text-align: center;
  width: 100%;
}

form {
  margin-top: 60px;
  padding: 40px;
  background-color: #111;
  border-radius: 15px;
  width: 320px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input {
  padding: 10px;
  border: none;
  border-radius: 10px;
  outline: none;
  font-size: 16px;
}

button {
  padding: 10px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  background-color: white;
  color: black;
}

button:not(:disabled):hover {
  background-color: rgb(2, 197, 2);
}

button:disabled {
  background-color: #555;
  color: #aaa;
  cursor: not-allowed;
  opacity: 0.6;
}

p {
  font-family: cursive;
  margin-top: 10px;
  text-align: center;
  font-size: 30px;
}
