body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #0d0d0d;
  color: white;
}

header {
  width: 100%;
  padding: 30px;
  background-color: #444;
  text-align: center;
}

header h1 {
  color: #fff;
}

form {
  margin-top: 60px;
  padding: 30px;
  background-color: #111;
  border-radius: 15px;
  width: 320px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input {
  padding: 12px;
  border: none;
  border-radius: 10px;
  outline: none;
  font-size: 16px;
}

p {
  font-size: 14px;
  color: #fff;
  font-family: cursive;
}
