body {
  font-family: Arial, sans-serif;
  margin: 50px;
  background-color: rgb(22, 22, 22);
  color: white;
}
h1 {
  text-align: center;
}
form {
  max-width: 300px;
  margin: auto;
}
label,
input {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 5px;
  box-sizing: border-box;
}
input {
  padding: 8px;
  border: 1px solid #ccc;
}
button {
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
button:hover {
  background-color: #45a049;
}
