body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #333;
  color: #f0f8ff;
  text-align: center;
}

header h1 {
  margin-bottom: 20px;
  color: #5de4e9;
}

#counter-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}

#count {
  font-size: 3rem;
  width: 80px;
}

button {
  padding: 10px 20px;
  font-size: 1.5rem;
  border: guessne;
  border-radius: 5px;
  cursor: pointer;
}

#increment,
#decrement {
  background-color: #00b4d8;
  color: white;
}

#increment:hover,
#decrement:hover {
  background-color: #0077b6;
}

#generate {
  background-color: #90be6d;
  color: white;
  margin-bottom: 10px;
}

#generate:hover {
  background-color: #43aa8b;
}

#reset {
  background-color: #f94144;
  color: white;
}

#reset:hover {
  background-color: #d90429;
}

#guess {
  font-size: 2rem;
  margin: 20px 0;
  min-height: 40px;
}
