body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 1);
  color: rgb(255, 0, 0, 1);
  font-family: cursive;
}

h1 {
  margin-bottom: 40px;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  width: 50%;
}

input {
  width: 100%;
}

p {
  font-size: 25px;
}

#value {
  font-size: 20px;
  font-weight: bold;
  color: #2cf22c;
}
