body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 50px;
  background-color: black;
  color: white;
}

#watch {
  font-size: 5rem;
  margin: 20px 0;
}

button {
  padding: 10px 20px;
  font-size: 1rem;
  margin: 5px;
  border-radius: 10px;
  cursor: pointer;
  background-color: white;
  font-weight: bold;
}
