body {
  font-family: Arial, sans-serif;
  margin: 20px;
  padding: 0;
  background-color: #333;
  color: #f4f4f4;
}
header {
  text-align: center;
  margin-bottom: 20px;
}
form {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
label {
  font-size: 1.2em;
  margin-right: 10px;
}
input[type="text"] {
  width: 300px;
  padding: 10px;
  margin-right: 10px;
  border: none;
  border-radius: 10px;
}
button {
  padding: 10px 15px;
  border: none;
  background-color: #28a745;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}
button:hover {
  background-color: #218838;
}
table {
  width: 100%;
  border-collapse: collapse;
}
th,
td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
  text-align: left;
}
tr:hover {
  background-color: black;
}
